extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Medpharms was created to help people find the pharmacies near them.
        | <br /><br />
        | We stand out for our commitment to your well-being.
        | <br /><br />
        | Our app provides a comprehensive list of nearby pharmacies, making it simple to locate the closest one to you.